{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% block css %}
    <style>
        #id_ethnicity{
            margin: 0;
            padding: 0;
            list-style: outside none none;
        }
    </style>
{% endblock %}
{% block application_content_main %}
    <fieldset>
    {% if child.id %}
        <legend>You are editing {{ child.first_name }}'s information</legend>
    {% else %}
        <legend>Add Child</legend>
    {% endif %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form.non_field_errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.first_name.id_for_label }}" class="col-sm-3 control-label">
            First Name <span class="mandatory">*</span></label>
        <div class="col-sm-3 frm-control">
            {{ form.first_name }}
        </div>
        {{ form.first_name.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.middle_name.id_for_label }}" class="col-sm-3 control-label">Middle Initial</label>
        <div class="col-sm-3 frm-control">
            {{ form.middle_name }}
        </div>
        {{ form.middle_name.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.last_name.id_for_label }}" class="col-sm-3 control-label">
            Last Name <span class="mandatory">*</span></label>
        <div class="col-sm-3 frm-control">
            {{ form.last_name }}
        </div>
        {{ form.last_name.errors }}
    </div>
    </fieldset>
    <fieldset>
    <div class="form-group">
        <label for="{{ form.last_name.id_for_label }}" class="col-sm-3 control-label">
            This child is</label>
        <div class="col-sm-9">
            <div class="checkbox">
                <label>
                    {{ form.is_student }} Student
                </label>
                <label>
                    {{ form.foster_child }} Foster Child&nbsp;&nbsp;
                </label>
                <label>
                    {{ form.is_head_start_participant }} Head Start participant&nbsp;&nbsp;
                </label>
                <label>
                    {{ form.hmr }} Homeless, Migrant or Runaway.
                </label>
            </div>
            <br>
            <em>Check all options applicable to this child</em>
        </div>

    </div>
    </fieldset>
    <fieldset>
        <legend>Race & Ethnicity</legend>
        <p style="padding:0.5em">
            We are required to ask for information about your child’s race and ethnicity. This information is important
            and helps to make sure we are fully serving our community.
            Responding to this section is optional and does not
            affect your children’s eligibility for free or reduced price meals.
        </p>
        <div class="row">
            <div class="col-lg-6">
                <fieldset>
                    <strong>Ethnicity</strong>
                    <div class="radio">
                        {{ form.ethnicity }}
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-6">
                <fieldset>
                    <strong>Race (check one or more)</strong>
                    <div class="checkbox">
                        <label>
                            {{ form.is_american_indian }} American Indian or Alaskan Native.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            {{ form.is_asian }} Asian.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            {{ form.is_black }} Black or African American.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            {{ form.is_hawaiian }} Native Hawaiian or Other Pacific Islander.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            {{ form.is_white }} White.
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
    </fieldset>
    <hr>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="pull-right">
                <button type="submit" name="save" id="save" class="btn btn-primary">Save</button>
                <a class="btn btn-default" role="button" href="{% url 'children' %}">Cancel</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block application_bottom_nav_wrapper %}
{% endblock %}

{% block application_help_tip %}
    <p>
        A child is anyone age 18 or under and are supported with the household’s income; or in your care under a foster
        arrangement,
        or qualify as homeless, migrant, or runaway youth;
        or students attending high school grade or under, regardless of age.
    </p>
    <p>
        <strong>Foster:</strong> A child who is formally placed by a court or a State child welfare agency.
    </p>
    <p>
        <strong>Head Start:</strong> A child that is enrolled in a Federal Head Start or State-funded pre-kindergarten
        program that uses
        eligibility criteria that is identical or more stringent than Federal Head Start.
    </p>
    <p>
        <strong>Homeless:</strong> A child identified by the Local Education Agency (LEA) homeless liaison or by an
        official of a
        homeless shelter as lacking a fixed, regular, and adequate nighttime residence.
    </p>
    <p>
        <strong>Migrant:</strong> A child identified as a migrant by the State or local Migrant Education Program
        coordinator or the
        local educational liaison, or other individual identified by FNS.
    </p>
    <p>
        <strong>Runaway:</strong> A child identified as a runaway receiving assistance under a program under the Runaway
        and Homeless
        Youth Act, by the local educational liaison, or other individual in accordance with guidance issued by FNS.
    </p>
{% endblock %}
