{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load tags %}
{% block application_content_main %}
    <h3>
        Children in the household.
    </h3>
    <a class="pull-right" role="button" href="{% url 'add_child' %}">Add a Child</a>
    <div class="clearfix"></div>
    <hr>
    {% if children %}
        {% for child in children %}
            <div class="child-row">
                <a class="btn btn-danger pull-right" role="button"
                   href="{% url 'delete_child' child_id=child.id %}">Delete</a>
                <span class="child-name">{{ forloop.counter }}. {{ child.first_name }} {{ child.last_name }}</span>
                {% if not child.application.assistance_program and not child.foster_child %}
                    <a role="button" data-toggle="collapse" href="#collapseExample-{{ child.id }}"
                       aria-expanded="false" aria-controls="collapseExample">
                        Earnings <span class="caret"></span>
                    </a>
                    <div class="earnings-div collapse" id="collapseExample-{{ child.id }}">
                        <ul>
                            {% for page in earnings_pages %}
                                <li  class="stripped">
                                    {{ page.display_title }}
                                <span class="pull-right">
                                    <span class="earnings-value">
                                    {% if child|getvalue:page.value_field %}
                                        $ {{ child|getvalue:page.value_field|intcomma }} -
                                        {{ child|getvalue:page.frequency_field|frequencylabel }}
                                    {% endif %}
                                    </span>
                                    <a class="btn btn-default pull-right"
                                       href="{% url page.name  child_id=child.id %}">
                                        Change
                                    </a>
                                </span>
                                    <div class="clearfix"></div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="clearfix"></div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block application_bottom_nav %}
    <a class="btn btn-default pull-left" role="button"
       href="{% url 'eat.views.assistance_program' %}">Back</a>

    <a class="btn btn-default pull-right" role="button"
            {% if not app.assistance_program %}
       href="{% url 'eat.views.adults' %}"
            {% else %}
       href="{% url 'eat.views.contact' %}"
            {% endif %}
    >Continue
    </a>
{% endblock %}

{% block application_help_tip %}
    <strong>Who should I list here?</strong>
    When filling out this section, please include all members in your household who are:
    <ul>
        <li>Children age 18 or under and are supported with the household’s income</li>
        <li>In your care under a foster arrangement, or qualify as homeless, migrant, or runaway youth</li>
        <li>Students attending [school/school system here], regardless of age</li>
    </ul>
{% endblock %}
