{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load tags %}
{% block application_content_main %}
    <p class="lead">
        Household members who are infants, children and students up to and including grade 12.
    </p>
    <a class="pull-right" role="button" href="{% url 'add_child' %}">Add a Child</a>
    <br><br>
    {% if children %}
        <table class="table">
            {% for child in children %}
                <tr>
                    <th>{{forloop.counter}}. {{ child.first_name }} {{ child.last_name }}</th>
                    <td>
                        <a class="pull-right" role="button"
                           href="{% url 'delete_child' child_id=child.id %}">Delete</a>
                    </td>
                </tr>
                {% if not child.application.assistance_program %}
                    <tr>
                        <td colspan="2">
                            <a class="" role="button" data-toggle="collapse" href="#collapseExample-{{ child.id }}"
                               aria-expanded="false" aria-controls="collapseExample">
                                Show Earnings
                            </a>
                            <div class="collapse" id="collapseExample-{{ child.id }}">
                                <table class="table table-condensed table-striped">
                                {% for page in earnings_pages %}
                                    <tr>
                                        <th>{{ page.display_title }}</th>
                                        <td>
                                            {% if child|getvalue:page.value_field %}
                                                $ {{ child|getvalue:page.value_field|intcomma }} -
                                                {{ child|getvalue:page.frequency_field|frequencylabel }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a class="btn btn-default pull-right"
                                               href="{% url page.name  child_id=child.id %}">
                                                Change
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block application_bottom_nav %}
    <a class="btn btn-default pull-left" role="button"
       href="{% url 'eat.views.assistance_program' %}">Back</a>

    <a class="btn btn-default pull-right" role="button"
            {% if not app.assistance_program %}
       href="{% url 'eat.views.adults' %}"
            {% else %}
       href="{% url 'eat.views.contact' %}"
            {% endif %}
    >Continue
    </a>
{% endblock %}

{% block application_content_right %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            Tips
        </div>
        <div class="panel-body">
            <strong>Who should I list here?</strong>
            When filling out this section, please include all members in your household who are:
            <ul>
                <li>Children age 18 or under and are supported with the household’s income</li>
                <li>In your care under a foster arrangement, or qualify as homeless, migrant, or runaway youth</li>
                <li>Students attending [school/school system here], regardless of age</li>
            </ul>
        </div>
    </div>
{% endblock %}
