{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% block application_content_main %}
    <fieldset>
        <legend class="text-danger">
            <span class="glyphicon glyphicon-alert"></span>
            Are you sure you want to delete {{ child.first_name }}'s information?
        </legend>
        <p>
            <input type="submit" value="Yes, I want to delete." class="btn btn-danger"/>
            <a class="btn btn-default" role="button"href="{% url 'children' %}">Cancel</a>
        </p>
    </fieldset>
{% endblock %}

{% block application_bottom_nav_wrapper %}
{% endblock %}

{% block application_content_right %}
{% endblock %}
