{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% block application_content_main %}
    <div style="padding: 2em;">
        <div class="well large">
            {% if app.assistance_program %}
                You don't need to provide earnings for {{ child.first_name }} since
                you participate in an Assistance Program.
            {% endif %}
            {% if app.assistance_program != True and child.foster_child %}
                Since {{ child.first_name }} is a foster child, you don't need to provide earnings for the child.
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block application_bottom_nav %}
    <a class="btn btn-default pull-left" role="button" href="{% url "edit_child" child_id=child.id %}">Back</a>
    <a class="btn btn-default pull-right" role="button" href="{% url "children" %}">Continue</a>
{% endblock %}

{% block application_content_right %}
{% endblock %}
