{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load tags %}
{% block application_content_main %}
    <p class="lead">
        Let's add all Adult Household Members, including yourself.
    </p>
    {% if adults %}
        <table class="table">
        {% for adult in adults %}
            <tr>
                <th>{{ adult.first_name }} {{ adult.last_name }}</th>
                <td>
                    <a class="btn btn-primary" role="button" href="{% url 'eat.views.edit_adult' adult_id=adult.id %}">Edit</a>
                    <a class="btn btn-danger" role="button" href="{% url 'eat.views.delete_adult' adult_id=adult.id %}">Delete</a>
                </td>
            </tr>
                    <tr>
                        <td colspan="2">
                            <table class="table table-condensed">
                                {% for category in earnings_categories %}
                                    <tr>
                                        <th>{{ category.title }}</th>
                                        <td>
                                            {% if adult|getvalue:category.value_field %}
                                                $ {{ adult|getvalue:category.value_field|intcomma }} -
                                                {{ adult|getvalue:category.frequency_field|frequencylabel }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a class="btn btn-default pull-right"
                                               href="{% url category.name  adult_id=adult.id %}">
                                                Change
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
        {% endfor %}
        </table>
    {% endif %}
    <a class="btn btn-primary" role="button" href="{% url 'eat.views.add_adult' %}">Add new Adult</a>
        <div>
            <a class="btn btn-default pull-left" role="button"
               href="{% url 'eat.views.children' %}">Back</a>

            {% if app.assistance_program %}
                <a class="btn btn-default pull-right" role="button"
                   href="{% url 'eat.views.application_welcome_back' %}">Continue</a>
            {% else %}
                <a class="btn btn-default pull-right" role="button"
                   href="{% url 'eat.views.contact' %}">Continue</a>
            {% endif %}
        </div>
{% endblock %}

{% block application_content_right %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            Tips
        </div>
        <div class="panel-body">
            List all Household Members not listed as child (including yourself) even if they do not receive income.
        </div>
    </div>
{% endblock %}
