{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load tags %}
{% block application_content_main %}
    <h3>
        Adult household members, including yourself.
    </h3>
    {% if not app.assistance_program and not app.app_for_foster_child %}
        <a class="btn btn-primary pull-right" role="button" href="{% url 'add_adult' %}">Add an Adult</a>
        <div class="clearfix"></div>
        <hr>
        {% if adults %}
            {% for adult in adults %}
                <div class="adult-row">
                    <a class="btn btn-danger pull-right" role="button"
                       href="{% url 'delete_adult' adult_id=adult.id %}">Delete</a>
                    <span class="adult-name">{{ forloop.counter }}. {{ adult.first_name }} {{ adult.last_name }}</span>
                    <a class="earnings-dropdown-label" role="button" data-toggle="collapse" href="#collapseExample-{{ adult.id }}"
                       aria-expanded="false" aria-controls="collapseExample">
                        Earnings <span class="caret"></span>
                    </a>
                    <div class="earnings-div collapse" id="collapseExample-{{ adult.id }}">
                        <ul>
                            {% for source in earnings %}
                                <li>
                                    <strong class="page_display_title">{{ source.name }}</strong>
                                    <ul>
                                        {% for page in source.pages %}
                                            <li class="stripped">
                                                <span class="pull-left page_display_title">{{ page.display_title }}</span>
                                                <span class="pull-right">
                                                    <span class="earnings-value">
                                                        {% if adult|getvalue:page.value_field %}
                                                            $ {{ adult|getvalue:page.value_field|intcomma }} -
                                                            {{ adult|getvalue:page.frequency_field|frequencylabel }}
                                                        {% endif %}
                                                    </span>
                                                    <a class="btn btn-default"
                                                       href="{% url page.name  adult_id=adult.id %}">
                                                        Change
                                                    </a>
                                                </span>
                                                <div class="clearfix"></div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        <div>
            {{ user.first_name }}, you don't need to enter adult household information because:
            <ul>
            {% if app.assistance_program %}
                <li>
                    You participate in an assistance program
                </li>
            {% endif %}
            {% if app.app_for_foster_child %}
                <li>
                    You are filling the application for a foster child.
                </li>
            {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block application_bottom_nav %}
    <a class="btn btn-default pull-left" role="button"
       href="{% url 'children' %}">Back</a>

    {% if app.all_adults_entered or app.assistance_program or app.app_for_foster_child%}
        <a class="btn btn-default pull-right" role="button"
           href="{% url 'contact' %}">Continue</a>
    {% else %}
        <a class="btn btn-default pull-right" role="button"
           href="{% url 'adult_confirm' %}">Continue</a>
    {% endif %}
{% endblock %}

{% block application_help_tip %}
    List all Household Members not listed as child (including yourself) even if they do not receive income.
{% endblock %}
