{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% block application_content_main %}
    <h3>
        Assistance Program
    </h3>
    <p class="well large">
        Great, we'll ask you some questions later in the application about your household members and
        income, which will help us determine your eligibility!
    </p>
{% endblock %}

{% block application_bottom_nav %}
    <a class="btn btn-default pull-left" role="button" href="{% url 'assistance_program' %}">Back</a>
    <a class="btn btn-default pull-right" role="button" href="{% url 'foster_child' %}">Continue</a>
{% endblock %}

{% block application_help_tip %}
    If anyone in your household participates in the assistance programs listed below,
    your children are <strong>eligible</strong> for free school meals:
    <ul>
        <li>The Supplemental Nutrition Assistance Program (SNAP) or [insert State SNAP here]</li>
        <li>Temporary Assistance for Needy Families (TANF) or [insert State TANF here]</li>
        <li>The Food Distribution Program on Indian Reservations (FDPIR)</li>
    </ul>
{% endblock %}
