{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% block application_content_main %}
    <p>
        {{ user.first_name }}, do any household members, including you, currently participate in one or more of the following assistance
        programs: SNAP, TANF OR FDPIR?
    </p>
    <div>
        <div class="form-group">
            <label for="{{ form.assistance_program.id_for_label }}"
                   class="col-sm-5 control-label">Participate in any Assistance Program?</label>
            <div class="col-sm-5 radio-options">
                {{ form.assistance_program }}
            </div>
            {{ form.assistance_program.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.case_number.id_for_label }}" class="col-sm-5 control-label">Case Number</label>
            <div class="col-sm-3 frm-control">
                {{ form.case_number }}
            </div>
            {{ form.case_number.errors }}
        </div>
    </div>
{% endblock %}

{% block application_bottom_nav %}
    <a class="btn btn-default pull-left" role="button" href="{% url 'application_welcome_back' %}">Back</a>
    <button type="submit" class="btn btn-default pull-right">Continue</button>
{% endblock %}

{% block application_content_right %}
    <div class="tips">
        <div class="heading">
            Help tips
        </div>
        <div class="body">
            If anyone in your household participates in the assistance programs listed below,
            your children are <strong>eligible</strong> for free school meals:
            <ul>
                <li>The Supplemental Nutrition Assistance Program (SNAP) or [insert State SNAP here]</li>
                <li>Temporary Assistance for Needy Families (TANF) or [insert State TANF here]</li>
                <li>The Food Distribution Program on Indian Reservations (FDPIR)</li>
            </ul>
        </div>
    </div>
{% endblock %}
