{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% block application_content_main %}
    <h3>
        Assistance Program
    </h3>
    <p  class="well large">
        Please provide the Case Number of the assistance program.
    </p>
    <div>
        <div class="form-group">
            <label for="{{ form.case_number.id_for_label }}" class="col-sm-5 control-label">
                Assistance Program Case Number
            </label>
            <div class="col-sm-3 frm-control">
                {{ form.case_number }}
            </div>
            {{ form.case_number.errors }}
        </div>
    </div>
{% endblock %}

{% block application_bottom_nav %}
    <a class="btn btn-default pull-left" role="button" href="{% url 'assistance_program' %}">Back</a>
    <button type="submit" class="btn btn-default pull-right">Continue</button>
{% endblock %}

{% block application_help_tip %}
    If anyone in your household participates in the assistance programs listed below,
    your children are <strong>eligible</strong> for free school meals:
    <ul>
        <li>The Supplemental Nutrition Assistance Program (SNAP) or [insert State SNAP here]</li>
        <li>Temporary Assistance for Needy Families (TANF) or [insert State TANF here]</li>
        <li>The Food Distribution Program on Indian Reservations (FDPIR)</li>
    </ul>
{% endblock %}
