{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% block application_content_main %}
    <h3>
        Assistance Program
    </h3>
    {% if app.assistance_program %}
        <p class="warning">
            You answered 'Yes', and your case number is <strong>{{ app.case_number }}</strong>. You can
            change your answer anytime!
        </p>
    {% elif adults%}
        <p class="bg-danger text-danger warning">
            You have previously entered household information about adults.
            That information will be deleted if you answer 'Yes' here.
        </p>
    {% endif %}
    <div class="well large">
        {{ user.first_name }}, do any of your household members, including you, currently participate in
        one or more of the following assistance programs: <strong>SNAP, TANF OR FDPIR</strong>?
        <hr>
        <div class="text-center">
            <a class="btn btn-primary btn-lg" role="button" href="{% url 'participate' %}">Yes</a>
            <a class="btn btn-primary btn-lg" role="button" href="{% url 'no_participation' %}">No</a>
        </div>
    </div>
{% endblock %}

{% block application_bottom_nav_wrapper %}
{% endblock %}

{% block application_help_tip %}
    If anyone in your household participates in the assistance programs listed below,
    your children are <strong>eligible</strong> for free school meals:
    <ul>
        <li>The Supplemental Nutrition Assistance Program (SNAP) or [insert State SNAP here]</li>
        <li>Temporary Assistance for Needy Families (TANF) or [insert State TANF here]</li>
        <li>The Food Distribution Program on Indian Reservations (FDPIR)</li>
    </ul>
{% endblock %}
