{% load navigation %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <title>E.A.T {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <link rel="stylesheet" href="/static/css/site.css">
    {% block css %}{% endblock %}
</head>
<body role="document" class="application">
<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Application for Free and Reduced Price School Meals
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">Welcome {{ user.first_name }}!</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="col-lg-9">
                {% if nav %}
                    <div>
                        {% show_nav nav %}
                    </div>
                {% endif %}
                <div class="working-area">
                    {% block application_content_main %}{% endblock %}
                </div>
                {% block application_bottom_nav_wrapper %}
                    <div class="nav-buttons">
                        {% block application_bottom_nav %}{% endblock %}
                        <div class="clearfix"></div>
                    </div>
                {% endblock %}
            </div>
            <div class="col-lg-3">
                {% block application_content_right %}
                    <div class="tips">
                        <div class="heading">
                            Help tips
                        </div>
                        <div class="body">
                            {% block application_help_tip %}{% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        </form>
    </div>
</div>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous">
</script>
<script src="/static/js/app.js"></script>
{% block js %}{% endblock %}
</body>
</html>