{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% block application_content_main %}
    <p class="lead">
        {% if app.assistance_program %}
            <h2>Great! we are almost done with your application!</h2>
        {% else %}
            {{ user.first_name }}, since none of your household members participates in any assistance program,
            we'll ask you some questions later about your household income which will help us determine
            your eligibility!
        {% endif %}
    </p>
    <div class="nav-buttons">
        <a class="btn btn-default pull-left" role="button" href="{% url 'eat.views.assistance_program' %}">Back</a>
        <a class="btn btn-default pull-right" role="button" href="{% url 'eat.views.children' %}">Continue</a>
    </div>
{% endblock %}

{% block application_content_right %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            Tips
        </div>
        <div class="panel-body">
            If anyone in your household participates in the assistance programs listed below,
            your children are <strong>eligible</strong> for free school meals:
            <ul>
                <li>The Supplemental Nutrition Assistance Program (SNAP) or [insert State SNAP here]</li>
                <li>Temporary Assistance for Needy Families (TANF) or [insert State TANF here]</li>
                <li>The Food Distribution Program on Indian Reservations (FDPIR)</li>
            </ul>
        </div>
    </div>
{% endblock %}
