{% extends "eat/user/application/base.html" %}
{% load staticfiles %}

{% block application_content_main %}
    <p class="lead">
        {% if app.assistance_program %}
            <h2>Great! we are almost done with your application!</h2>
        {% else %}
            {{ user.first_name }}, since none of your household members participates in any assistance program,
            we'll ask you some questions later about your household income which will help us determine
            your eligibility!
        {% endif %}
    </p>
{% endblock %}

{% block application_bottom_nav %}
    <a class="btn btn-default pull-left" role="button" href="{% url 'eat.views.assistance_program' %}">Back</a>
    <a class="btn btn-default pull-right" role="button" href="{% url 'eat.views.children' %}">Continue</a>
{% endblock %}

{% block application_content_right %}
{% endblock %}
