{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% block application_content_main %}
    <h3>Contact Information</h3>
    {% if form.non_field_errors %}
        <div class="well bg-danger">
            <strong>Please correct following errors</strong>
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <fieldset>
        <div class="form-group">
            {{ form.first_name.errors }}
            <label for="{{ form.first_name.id_for_label }}" class="col-sm-3 control-label">
                First Name <span class="mandatory">*</span></label>
            <div class="col-sm-3 frm-control">
                {{ form.first_name }}
            </div>
        </div>
        <div class="form-group">
            {{ form.last_name.errors }}
            <label for="{{ form.last_name.id_for_label }}" class="col-sm-3 control-label">
                Last Name <span class="mandatory">*</span></label>
            <div class="col-sm-3 frm-control">
                {{ form.last_name }}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Current Address</legend>
        <div class="form-group">
            {{ form.street_address.errors }}
            <label for="{{ form.street_address.id_for_label }}" class="col-sm-3 control-label">
                Street Address <span class="mandatory">*</span></label>
            <div class="col-sm-5 frm-control">
                {{ form.street_address }}
            </div>
            {{ form.apt.errors }}
            <label for="{{ form.apt.id_for_label }}" class="col-sm-2 control-label">Apt #</label>
            <div class="col-sm-2 frm-control">
                {{ form.apt }}
            </div>
        </div>
        <div class="form-group">
            {{ form.city.errors }}
            <label for="{{ form.city.id_for_label }}" class="col-sm-3 control-label">
                City <span class="mandatory">*</span></label>
            <div class="col-sm-2 frm-control">
                {{ form.city }}
            </div>
        </div>
        <div class="form-group">
            {{ form.state.errors }}
            <label for="{{ form.state.id_for_label }}" class="col-sm-3 control-label">
                State <span class="mandatory">*</span></label>
            <div class="col-sm-3 frm-control">
                {{ form.state }}
            </div>
        </div>
        <div class="form-group">
            {{ form.zip.errors }}
            <label for="{{ form.zip.id_for_label }}" class="col-sm-3 control-label">
                Zip <span class="mandatory">*</span></label>
            <div class="col-sm-2 frm-control">
                {{ form.zip }}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Phone & Email</legend>
        <div class="form-group">
            {{ form.phone.errors }}
            <label for="{{ form.phone.id_for_label }}" class="col-sm-3 control-label">Phone</label>
            <div class="col-sm-3 frm-control">
                {{ form.phone }}
            </div>
        </div>
        <div class="form-group">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-5 frm-control">
                {{ form.email }}
            </div>
        </div>
    </fieldset>
{% endblock %}


{% block application_help_tip %}
    Provide your latest contact information. USDA might need to contact you in case it needs any additional
    information from you.
{% endblock %}


{% block application_bottom_nav %}
    {% if adult_skip %}
        <a class="btn btn-default pull-left" role="button" href="{% url 'children' %}">Back</a>
    {% else %}
        <a class="btn btn-default pull-left" role="button" href="{% url 'adults' %}">Back</a>
    {% endif %}

    <button type="submit" class="btn btn-default pull-right">Continue</button>
{% endblock %}
