{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load tags %}
{% block application_content_main %}

    <h3>Household Children</h3>
    {% if children %}
        <table class="table">
            {% for child in children %}
                <tr class="info">
                    <th>{{ child.first_name }} {{ child.middle_name }} {{ child.last_name }}</th>
                    <td>
                        {% if child.is_student %} Student, {% endif %}
                        {% if child.foster_child %} Foster Child, {% endif %}
                        {% if child.hmr %} Homeless, Migrant, Runaway {% endif %}
                    </td>
                </tr>
                {% if not child.application.assistance_program %}
                    <tr>
                        <td colspan="2">
                            <table class="table table-condensed">
                                {% for page in child_earnings_pages %}
                                    <tr>
                                        <th>{{ page.display_title }}</th>
                                        <td>
                                            {% if child|getvalue:page.value_field %}
                                                $ {{ child|getvalue:page.value_field|intcomma }} -
                                                {{ child|getvalue:page.frequency_field|frequencylabel }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a class="btn btn-default pull-right"
                                               href="{% url page.name  child_id=child.id %}">
                                                Revisit
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
    <h3>Household Adults</h3>
    {% if adults %}
        <table class="table">
            {% for adult in adults %}
                <tr>
                    <th>{{ adult.first_name }} {{ adult.middle_name }} {{ adult.last_name }}</th>
                </tr>
                <tr>
                    <td>
                            <table class="table table-condensed">
                                {% for page in adult_earnings_pages %}
                                    <tr>
                                        <th>{{ page.display_title }}</th>
                                        <td>
                                            {% if child|getvalue:page.value_field %}
                                                $ {{ child|getvalue:page.value_field|intcomma }} -
                                                {{ child|getvalue:page.frequency_field|frequencylabel }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a class="btn btn-default pull-right"
                                               href="{% url page.name  adult_id=adult.id %}">
                                                Revisit
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}

{% block application_content_right %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            Tips
        </div>
        <div class="panel-body">
            <strong>Who should I list here?</strong>
            When filling out this section, please include all members in your household who are:
            <ul>
                <li>Children age 18 or under and are supported with the household’s income</li>
                <li>In your care under a foster arrangement, or qualify as homeless, migrant, or runaway youth</li>
                <li>Students attending [school/school system here], regardless of age</li>
            </ul>
        </div>
    </div>
{% endblock %}
