{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load tags %}
{% block application_content_main %}
    {% if issues %}
        <div class="bg-danger app-section">
            <h4 class="text-danger">{{ user.first_name }}, we found following issues in you application:</h4>
            <ul class="text-danger">
                {% for issue in issues %}
                    <li>
                        {{ issue }}
                    </li>
                {% endfor %}
            </ul>
            <p class="text-danger">Please correct the above so that we can successfully process your application</p>
        </div>
    {% else %}
            <p class="bg-success app-section" style="padding: 1.5em">Congratulations, {{ user.first_name }}!
            Your application is ready to be submitted to USDA!</p>
    {% endif  %}

    <div class="app-section">
        <h4>Assistance Program</h4>
        {% if app.assistance_program %}
            <p>
                Case Number: {{ app.case_number }}
            </p>
        {% else %}
            <p>
                You mentioned that none of your household members participates in any Assistance Program.
            </p>
        {% endif %}
    </div>

    <div class="app-section">
        <h4>Household Children</h4>
        {% if children %}
        {% for child in children %}
            <div class="child-row">
                <span class="child-name">{{ forloop.counter }}. {{ child.first_name }} {{ child.last_name }}</span>
                <ul class="child-info">
                    {% if child.is_student %} <li>Student</li> {% endif %}
                    {% if child.foster_child %}<li>Foster child</li> {% endif %}
                    {% if child.is_head_start_participant %}<li>Head Start Participant</li> {% endif %}
                    {% if child.hmr %}<li>Homeless, Migrant or Runaway</li> {% endif %}
                </ul>
                {% if not child.application.assistance_program and not child.foster_child %}
                    <a role="button" data-toggle="collapse" href="#child-earnings-{{ child.id }}"
                       aria-expanded="true" aria-controls="child-earnings-{{ child.id }}">
                        Earnings <span class="caret"></span>
                    </a>
                    <div class="earnings-div" id="child-earnings-{{ child.id }}">
                        <ul>
                            {% for page in child_earnings_pages %}
                                <li  class="stripped">
                                    {{ page.display_title }}
                                <span class="pull-right">
                                    <span class="earnings-value">
                                    {% if child|getvalue:page.value_field %}
                                        $ {{ child|getvalue:page.value_field|intcomma }} -
                                        {{ child|getvalue:page.frequency_field|frequencylabel }}
                                    {% endif %}
                                    </span>
                                    <a class="btn btn-default pull-right"
                                       href="{% url page.name  child_id=child.id %}">
                                        Revisit
                                    </a>
                                </span>
                                    <div class="clearfix"></div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="clearfix"></div>
            </div>
        {% endfor %}
    {% endif %}
    </div>

    <div class="app-section">
        <h4>Household Adults</h4>

        {% if not app.assistance_program and not app.app_for_foster_child %}
        {% if adults %}
            {% for adult in adults %}
                <div class="adult-row">
                    <a class="btn btn-danger pull-right" role="button"
                       href="{% url 'delete_adult' adult_id=adult.id %}">Delete</a>
                    <span class="adult-name">{{ forloop.counter }}. {{ adult.first_name }} {{ adult.last_name }}<span>
                    <a class="" role="button" data-toggle="collapse" href="#adult-earnings-{{ adult.id }}"
                       aria-expanded="true" aria-controls="adult-earnings-{{ adult.id }}">
                        Earnings <span class="caret"></span>
                    </a>
                    <div class="earnings-div collapse" id="adult-earnings-{{ adult.id }}">
                        <ul>
                        {% for source in adult_earnings_pages %}
                            <li>
                                <strong class="page_display_title">{{ source.name }}</strong>
                                <ul>
                                    {% for page in source.pages %}
                                        <li class="stripped">
                                            <span class="pull-left page_display_title">{{ page.display_title }}</span>
                                            <span class="pull-right">
                                                <span class="earnings-value">
                                                    {% if adult|getvalue:page.value_field %}
                                                        $ {{ adult|getvalue:page.value_field|intcomma }} -
                                                        {{ adult|getvalue:page.frequency_field|frequencylabel }}
                                                    {% endif %}
                                                </span>
                                                <a class="btn btn-default"
                                                   href="{% url page.name  adult_id=adult.id %}">
                                                    Change
                                                </a>
                                            </span>
                                            <div class="clearfix"></div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        <div>
            You don't need to enter adult household information because:
            <ul>
            {% if app.assistance_program %}
                <li>
                    You participate in an assistance program
                </li>
            {% endif %}
            {% if app.app_for_foster_child %}
                <li>
                    You are filling the application for a foster child.
                </li>
            {% endif %}
            </ul>
        </div>
    {% endif %}
    </div>

    <div class="app-section">
        <h4>Contact Information</h4>
        <table class="table table-condensed table-bordered">
        <tr>
            <th>First Name</th>
            <td>{{ app.first_name }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ app.last_name }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>
                <address>
                  {{ app.street_address }} {% if app.apt %}, {{ app.apt }} {% endif %}<br>
                  {{ app.city }}, {{ app.state }} {{ app.zip }}<br>
                  {% if app.phone %}Phone: {{ app.phone }}<br>{% endif %}
                  {% if app.email %}Email: {{ app.email }}<br>{% endif %}
                </address>
            </td>
        </tr>
        <tr>
            <th>Signature</th>
            <td>{{ app.signature }}</td>
        </tr>
        <tr>
            <th>Date Completed</th>
            <td>{{ app.todays_date }}</td>
        </tr>
        <tr>
            <th>Last 4 digits of SSN</th>
            <td>{{ app.ssn_four_digit }}</td>
        </tr>
    </table>
    </div>

{% endblock %}

{% block application_content_right %}
{% endblock %}


{% block application_bottom_nav_wrapper %}
{% endblock %}