{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% block application_content_main %}
    <fieldset>
    <legend class="text-danger">
        <span class="glyphicon glyphicon-alert"></span>
        Are you sure you want to delete the Application and start over?
    </legend>
    <p>
        <input type="submit" value="Start Over" class="btn btn-danger"/>
        <a class="btn btn-default" role="button" href="{% url 'review' %}">Cancel</a>
    </p>
    </fieldset>
{% endblock %}

{% block application_bottom_nav_wrapper %}
{% endblock %}

{% block application_content_right %}
{% endblock %}
