{% extends "eat/user/application/base.html" %}
{% load staticfiles %}
{% block application_container %}
    <div class="jumbotron">
        <h2 class="welcome">{{ user.first_name }}, Welcome Back!</h2>
        <h4>We have all your information saved, we can start where you left off.</h4>

        <p>
            Your application is <strong>{{ percent|floatformat:"0" }}%</strong> complete!
        </p>

        <form method="post" action="{% url 'eat.views.application_welcome_back' %}">
            {% csrf_token %}
            <p>
                <input type="submit" value="Let's go to where you left off ..." class="btn btn-primary"/>
            </p>
        </form>
    </div>
{% endblock %}
