{% extends "eat/admin/base.html" %}
{% load staticfiles %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
        <li class="active">{{ title }}</li>
    </ol>
{% endblock %}

{% block application_content_main %}
    <div class="row">
        <div class="col-lg-12">
            {% if applications %}
                <table class="table">
                <tr>
                    <th>Create Date</th>
                    <th>Status</th>
                    <th>Applicant</th>
                    <th>Children</th>
                    <th>Adults</th>
                    <th>View</th>
                </tr>
                {% for application in applications %}
                    <tr>
                        <td>{{ application.create_date }}</td>
                        <td>{{ application.status }}</td>
                        <td>
                            {% if application.first_name %}
                                {{ application.first_name }} {{ application.last_name }}
                            {% endif %}
                        </td>
                        <td>
                            {{ application.child_set.count }}
                        </td>
                        <td>
                            {{ application.adult_set.count }}
                        </td>
                        <td>
                            <a href="{% url 'admin_application_view' application_id=application.id %}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                No applications found.
            {% endif %}
        </div>
    </div>
{% endblock %}

