{% extends "eat/application/base.html" %}
{% load staticfiles %}
{% block application_content_main %}
    <p class="lead">
        Household Members who are infants, children and students up to and including grade 12.
    </p>
    {% if children %}
        <table class="table">
        {% for child in children %}
            <tr>
                <th>{{ child.first_name }} {{ child.last_name }}</th>
                <td>
                    {% if child.is_student %} Student, {% endif %}
                    {% if child.foster_child %} Foster Child, {% endif %}
                    {% if child.hmr %} Homeless, Migrant, Runaway {% endif %}
                </td>
            </tr>
            {% if not child.application.assistance_program %}
                <tr class="active">
                    <th>Salary</th>
                    <td>
                        {% if child.salary %}
                            ${{ child.salary }}, {{ child.get_salary_frequency_display }}
                            <a href="{% url 'eat.views.child_salary'  child_id=child.id %}">Change</a>
                            {% else %}
                            <a href="{% url 'eat.views.child_salary'  child_id=child.id %}">Add</a>
                         {% endif %}
                    </td>
                </tr>
                <tr class="active">
                    <th>Social Security income</th>
                    <td>
                        {% if child.ssi_disability %}
                            ${{ child.ssi_disability }}, {{ child.get_ssi_disability_frequency_display }}
                            <a href="{% url 'eat.views.child_social_security_income'  child_id=child.id %}">Change</a>
                            {% else %}
                            <a href="{% url 'eat.views.child_social_security_income'  child_id=child.id %}">Add</a>
                         {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    {% endif %}
    <a class="btn btn-primary" role="button" href="{% url 'eat.views.add_child' %}">Add new Child</a>
        <div>
            <a class="btn btn-default pull-left" role="button"
               href="{% url 'eat.views.assistance_program' %}">Back</a>

                <a class="btn btn-default pull-right" role="button"
                   {% if not app.assistance_program %}
                        href="{% url 'eat.views.adults' %}"
                   {% else %}
                        href="{% url 'eat.views.contact' %}"
                   {% endif %}
                   >Continue
                </a>
        </div>
{% endblock %}

{% block application_content_right %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            Tips
        </div>
        <div class="panel-body">
            <strong>Who should I list here?</strong>
            When filling out this section, please include all members in your household who are:
            <ul>
                <li>Children age 18 or under and are supported with the household’s income</li>
                <li>In your care under a foster arrangement, or qualify as homeless, migrant, or runaway youth</li>
                <li>Students attending [school/school system here], regardless of age</li>
            </ul>
        </div>
    </div>
{% endblock %}
